### Part 1: Analysis 
#### Analyze and extract any interesting insights you can derive from the data set attached (each row represents the assignment of a job in our research queue, including some data about the analyst who received the assignment and the current state of the research queue). What can you infer? What do you think this means for us from a business perspective?

In [1]:
# import libraries

import pandas as pd
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 30)

import sqlite3

In [2]:
# read in file and create dataframe
df = pd.read_csv('Assignment Log.csv')

### Exploratory Data Analysis

In [3]:
df.head(5)

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
0,06/22/2017 19:59:06,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Accepted Job,594bec5c95e2ce005840c23a,06/22/2017 12:12:12,review,1,review,0,13,14,4,6,2,0,1,1
1,06/22/2017 19:59:02,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Assigned Job,594bec5c95e2ce005840c23a,06/22/2017 12:12:12,review,1,review,1,13,15,5,6,2,0,1,1
2,06/22/2017 19:51:30,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Declined Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,9,"sourcing, writing",1,12,12,5,5,1,0,0,1
3,06/22/2017 19:51:01,0e9802516f8a79dd0d45211dd4ee74af,4.50,4.50,Accepted Job,594c1f5cd7e68f0028c9062c,06/22/2017 15:49:48,sourcing,1,"sourcing, writing",1,11,12,5,5,1,0,0,1
4,06/22/2017 19:50:58,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Assigned Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,8,"sourcing, writing",2,11,14,5,5,2,0,1,1

In [4]:
df.shape

(791, 19)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 19 columns):
Event occurred at           791 non-null object
Analyst                     791 non-null object
Quality score (sourcing)    791 non-null float64
Quality score (writing)     791 non-null float64
Action                      791 non-null object
Request                     791 non-null object
Request created at          791 non-null object
Job                         791 non-null object
Wait time (min)             791 non-null int64
Waiting for                 785 non-null object
Analysts available          791 non-null int64
Analysts occupied           791 non-null int64
Total jobs available        791 non-null int64
Review jobs available       791 non-null int64
Vetting jobs available      791 non-null int64
Planning jobs available     791 non-null int64
Editing jobs available      791 non-null int64
Sourcing jobs available     791 non-null int64
Writing jobs available      791 non-null int64
dtypes: float64(2), int64(10), object(7)
memory usage: 117.5+ KB

In [6]:
# convert Event occurred at and Request created at to datetime
df['Event occurred at'] = pd.to_datetime(df['Event occurred at'])
df['Request created at'] = pd.to_datetime(df['Request created at'])

In [7]:
# Min and Max times for creating requests

print('Min Date: ' + str(min(df['Request created at'])))
print('Max Date: ' + str(max(df['Request created at'])))

Min Date: 2017-06-19 13:43:51
Max Date: 2017-06-22 18:16:11

In [8]:
# Min and Max times for events

print('Min Date: ' + str(min(df['Event occurred at'])))
print('Max Date: ' + str(max(df['Event occurred at'])))

Min Date: 2017-06-21 20:15:42
Max Date: 2017-06-22 19:59:06

#### Handling Nulls

In [9]:
# check for any null values
df.isnull().sum()

Event occurred at           0
Analyst                     0
Quality score (sourcing)    0
Quality score (writing)     0
Action                      0
Request                     0
Request created at          0
Job                         0
Wait time (min)             0
Waiting for                 6
Analysts available          0
Analysts occupied           0
Total jobs available        0
Review jobs available       0
Vetting jobs available      0
Planning jobs available     0
Editing jobs available      0
Sourcing jobs available     0
Writing jobs available      0
dtype: int64

In [10]:
# find nulls
def find_nulls(df):
    null_columns=df.columns[df.isnull().any()]
    return df[df['Waiting for'].isnull()][null_columns]

In [11]:
find_nulls(df)

    Waiting for
195         NaN
340         NaN
392         NaN
454         NaN
595         NaN
723         NaN

#### There are just 6 null values in the dataset and all are in the 'Waiting for' column. I am going to replace the null value with the job value.

In [12]:
len(df[df['Job'] == df['Waiting for']])

392

In [13]:
len(df[df['Job'] != df['Waiting for']])

399

In [14]:
df.iloc[194:196]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
194,2017-06-22 14:31:08,94959cf2d0b592d0fa1e5e9cf760a1c7,5.00,5.00,Assigned Job,594bec81fd2cf400280aa95c,2017-06-22 12:12:49,planning,1,planning,5,16,8,0,3,5,0,0,0
195,2017-06-22 14:30:59,9fa24ddce8fd9d1526d9d7451304fc74,4.89,4.89,Accepted Job,594bec7ffd2cf400280aa953,2017-06-22 12:12:47,sourcing,26,NaN,5,15,8,0,3,5,0,0,0

In [15]:
df.loc[[195], 'Waiting for'] = 'sourcing'

In [16]:
df.loc[339:341]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
339,2017-06-22 08:03:23,98de7e62209a07eee6ec8dc984911042,0.0,0.0,Assigned Job,594a9ce6c864e200288e766b,2017-06-21 12:20:54,sourcing,1,sourcing,4,10,4,0,0,1,0,1,2
340,2017-06-22 08:01:25,a29fe6d26c1a49ff4a3c876eaee0a1af,0.0,0.0,Accepted Job,594a9ce6c864e200288e766b,2017-06-21 12:20:54,sourcing,1,NaN,3,10,3,0,0,1,0,0,2
341,2017-06-22 08:01:22,a29fe6d26c1a49ff4a3c876eaee0a1af,0.0,0.0,Accepted Job,594a9ce6c864e200288e766b,2017-06-21 12:20:54,sourcing,1,sourcing,3,10,3,0,0,1,0,0,2

In [17]:
df.loc[[340], 'Waiting for'] = 'sourcing'

In [18]:
df.loc[391:393]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
391,2017-06-22 06:17:54,7e22ad15724c44543d1d4bcafd10c812,5.0,5.0,Assigned Job,594ae6fb4f06e20035d92345,2017-06-21 17:36:59,review,1,review,1,10,6,3,1,0,0,0,2
392,2017-06-22 06:13:40,766d3435eda76c4de9f034b8f97a0602,3.5,3.5,Accepted Job,594a8fd422b3c50028e71976,2017-06-21 11:25:08,writing,1,NaN,0,9,6,3,1,0,0,0,2
393,2017-06-22 06:13:34,766d3435eda76c4de9f034b8f97a0602,3.5,3.5,Assigned Job,594a8fd422b3c50028e71976,2017-06-21 11:25:08,writing,1,"sourcing, writing",1,9,7,3,1,0,0,0,3

In [19]:
df.loc[[392], 'Waiting for'] = 'sourcing, writing'

In [20]:
df.loc[453:455]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
453,2017-06-22 04:45:27,7e22ad15724c44543d1d4bcafd10c812,5.0,5.0,Assigned Job,594b00e23f82d10028f03be2,2017-06-21 19:27:30,review,1,review,1,14,7,3,1,0,0,0,3
454,2017-06-22 04:40:07,7e22ad15724c44543d1d4bcafd10c812,5.0,5.0,Accepted Job,594af3c6f3b9f600287eabe0,2017-06-21 18:31:34,review,1,NaN,0,15,7,3,1,0,0,0,3
455,2017-06-22 04:40:03,7e22ad15724c44543d1d4bcafd10c812,5.0,5.0,Assigned Job,594af3c6f3b9f600287eabe0,2017-06-21 18:31:34,review,1,review,1,15,8,4,1,0,0,0,3

In [21]:
df.loc[[454], 'Waiting for'] = 'review'

In [22]:
df.loc[594:596]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
594,2017-06-21 23:26:17,9fcbc63ff4c8bea5cea4efad782c87cf,5.0,5.0,Assigned Job,594b20ed3f82d10028f03c6c,2017-06-21 21:44:13,sourcing,1,sourcing,1,24,7,1,3,1,0,1,1
595,2017-06-21 23:23:02,f7f7591403c6c431053920223069550a,5.0,5.0,Accepted Job,594b20ee3f82d10028f03c74,2017-06-21 21:44:14,planning,1,NaN,0,23,7,1,3,1,0,1,1
596,2017-06-21 23:22:37,36ee9fc3bade4a4f71c2a6e5c2bd8862,0.0,0.0,Accepted Job,594b20eb3f82d10028f03c5c,2017-06-21 21:44:11,sourcing,1,sourcing,1,22,8,1,3,2,0,1,1

In [23]:
df.loc[[595], 'Waiting for'] = 'planning'

In [24]:
df.loc[722:724]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
722,2017-06-21 21:25:06,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Assigned Job,5949462dd9ae5200633f9640,2017-06-20 11:58:37,review,1,review,2,21,8,6,1,0,0,0,1
723,2017-06-21 21:24:44,206de922289a1f9f5ee250fc71308628,3.17,3.17,Accepted Job,594ae6fb4f06e20035d92345,2017-06-21 17:36:59,writing,1,NaN,1,20,8,6,1,0,0,0,1
724,2017-06-21 21:24:38,206de922289a1f9f5ee250fc71308628,3.17,3.17,Accepted Job,594ae6fb4f06e20035d92345,2017-06-21 17:36:59,writing,1,writing,1,20,8,6,1,0,0,0,1

In [25]:
df.loc[[723], 'Waiting for'] = 'writing'

In [26]:
# check for any null values
df.isnull().sum()

Event occurred at           0
Analyst                     0
Quality score (sourcing)    0
Quality score (writing)     0
Action                      0
Request                     0
Request created at          0
Job                         0
Wait time (min)             0
Waiting for                 0
Analysts available          0
Analysts occupied           0
Total jobs available        0
Review jobs available       0
Vetting jobs available      0
Planning jobs available     0
Editing jobs available      0
Sourcing jobs available     0
Writing jobs available      0
dtype: int64

#### Handling Duplicates

In [27]:
# find duplicates
# select duplicate rows except first occurrence based on all columns
def duplicates(df):
    duplicate_rows_df = df[df.duplicated()]
    return duplicate_rows_df

In [28]:
duplicates(df)

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
9,2017-06-22 19:47:03,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Accepted Job,594c1e983b593b00281250ba,2017-06-22 15:46:32,sourcing,4,"sourcing, writing",1,11,11,5,5,1,0,0,0
55,2017-06-22 18:26:42,e2333b2dc03032f12c8526e45243f0c1,0.00,0.00,Accepted Job,594c0b883b593b002812506e,2017-06-22 14:25:12,sourcing,22,sourcing,2,14,9,2,7,0,0,0,0

In [29]:
df.drop_duplicates(inplace = True)

In [30]:
# confirm duplicates removed
duplicates(df)

Empty DataFrame
Columns: [Event occurred at, Analyst, Quality score (sourcing), Quality score (writing), Action, Request, Request created at, Job, Wait time (min), Waiting for, Analysts available, Analysts occupied, Total jobs available, Review jobs available, Vetting jobs available, Planning jobs available, Editing jobs available, Sourcing jobs available, Writing jobs available]
Index: []

In [31]:
# inspecting the unique values found in columns
df.nunique()

Event occurred at           669
Analyst                      71
Quality score (sourcing)     37
Quality score (writing)      37
Action                        3
Request                      74
Request created at           72
Job                           7
Wait time (min)              39
Waiting for                  27
Analysts available            9
Analysts occupied            19
Total jobs available         17
Review jobs available        12
Vetting jobs available        8
Planning jobs available      13
Editing jobs available        3
Sourcing jobs available       5
Writing jobs available        7
dtype: int64

In [32]:
# create function to find value counts for some columns
def values(column):
    print(df[column].value_counts())

In [33]:
# run values function
print(values('Action'))
print(values('Job'))
print(values('Waiting for'))

Assigned Job    393
Accepted Job    301
Declined Job     95
Name: Action, dtype: int64
None
sourcing         209
writing          160
review           143
vetting           94
planning          94
source review     58
editing           31
Name: Job, dtype: int64
None
sourcing                                         159
sourcing, writing                                 94
review                                            92
writing                                           69
review, planning, editing, sourcing, writing      66
planning                                          49
vetting, planning, editing, sourcing, writing     46
review, vetting, editing, sourcing, writing       32
vetting                                           27
review, planning                                  24
editing, sourcing, writing                        23
editing                                           22
review, editing, sourcing, writing                15
planning, editing, sourcing, writing              13
review, vetting                                   10
vetting, planning, sourcing                        8
vetting, editing, sourcing                         7
review, editing                                    6
review, vetting, planning, sourcing                5
editing, sourcing                                  4
planning, sourcing                                 4
review, vetting, editing                           4
vetting, editing, sourcing, writing                3
review, sourcing                                   2
vetting, sourcing                                  2
editing, writing                                   2
vetting, editing                                   1
Name: Waiting for, dtype: int64
None

In [34]:
# create function to find the average wait time for each request based
# on the job type (sourcing, writing, review, planning, vetting, source
# review and editing)

def averages(df, value):    
    return 'Average ' + value.title() + ' Wait Time in Minutes: '+ \
    str(round(df[df['Job'] == value]['Wait time (min)'].mean(), 2))

In [35]:
# run averages function 
print(averages(df, 'sourcing')) 
print(averages(df, 'writing')) 
print(averages(df, 'review')) 
print(averages(df, 'planning')) 
print(averages(df, 'vetting')) 
print(averages(df, 'source review')) 
print(averages(df, 'editing'))

Average Sourcing Wait Time in Minutes: 10.46
Average Writing Wait Time in Minutes: 3.74
Average Review Wait Time in Minutes: 3.36
Average Planning Wait Time in Minutes: 2.18
Average Vetting Wait Time in Minutes: 1.2
Average Source Review Wait Time in Minutes: 2.48
Average Editing Wait Time in Minutes: 9.03

In [36]:
print('Analysts Available: ' + str(max(df['Analysts available'])))
print('Total jobs available: ' + str(max(df['Total jobs available'])))

Analysts Available: 8
Total jobs available: 16

In [37]:
# number of jobs grouped by analyst, action and job 

df.groupby(['Analyst', 'Action', 'Job'])['Action'].count()

Analyst                           Action        Job
00360b3f177375b01b795a4be7b4686c  Assigned Job  sourcing          4
                                  Declined Job  sourcing          4
008fa95f5c94985e2d44047aeac31655  Accepted Job  review            4
                                  Assigned Job  review            3
052066814364850e1a17a90d576dd904  Accepted Job  review            2
                                  Assigned Job  review            1
0c2680433387fb4cf51a3546296f8422  Accepted Job  sourcing          3
                                                writing           2
                                  Assigned Job  sourcing          5
                                                writing           4
                                  Declined Job  sourcing          2
                                                writing           2
0e9802516f8a79dd0d45211dd4ee74af  Accepted Job  sourcing          5
                                                writing           6
                                  Assigned Job  sourcing          5
                                                writing           7
                                  Declined Job  writing           1
1f8d8b08a994331e419d24293ce9e7b0  Assigned Job  sourcing          2
                                  Declined Job  sourcing          2
206de922289a1f9f5ee250fc71308628  Accepted Job  writing           4
                                  Assigned Job  writing           3
2d0f64a208f69a70ec415cfccb59cc24  Accepted Job  writing           2
                                  Assigned Job  writing           2
2df8ce7d317c7d89dfa95be7695d2de0  Accepted Job  sourcing          4
                                  Assigned Job  sourcing          4
30ea4ac9222bfa53b3849df49d6f26f0  Accepted Job  sourcing          1
                                  Assigned Job  sourcing          1
32553d485988e2ddcf0f701c60754f2d  Accepted Job  editing           1
                                                source review     1
                                  Assigned Job  editing           1
                                                source review     1
36ee9fc3bade4a4f71c2a6e5c2bd8862  Accepted Job  sourcing          3
                                  Assigned Job  sourcing          1
39012c98c8fb80752d2bbcc3dc285230  Accepted Job  review            3
                                                source review     1
                                  Assigned Job  review            3
                                                source review     1
39b71201151caf98fd10afce50cfc83e  Accepted Job  writing           6
                                  Assigned Job  writing           6
3a29165b73c047e745934c2cbbfaac1b  Accepted Job  writing           2
                                  Assigned Job  writing           2
3a8a0b0323b02a707535fe7d65821de3  Accepted Job  vetting           1
                                  Assigned Job  vetting           1
482e9b14d8d59b748320f89074362746  Accepted Job  writing           4
                                  Assigned Job  writing           4
4bb6e496f0c92286dee7eed7038ddd9d  Accepted Job  source review     2
                                                vetting           1
                                                writing           1
                                  Assigned Job  source review     2
                                                vetting           1
                                                writing           1
5078cc506436a8668c0b6de594842fcf  Assigned Job  writing           1
5233d783ae5bf0483cf49549cbc594f8  Accepted Job  sourcing          1
                                  Assigned Job  sourcing          1
5238b0785b5576f5ffe665136df9244f  Assigned Job  sourcing          2
                                  Declined Job  sourcing          2
57ef46a92ecee8e187f4d450e92651ea  Accepted Job  writing           1
                                  Assigned Job  writing           1
608b40f66ef114c6d9f5c95021290f69  Assigned Job  sourcing          2
                                  Declined Job  sourcing          2
62060850630c7afe54fd59151413d237  Accepted Job  planning          1
                                                sourcing          1
                                                vetting           9
                                  Assigned Job  planning          1
                                                sourcing          1
                                                vetting          21
                                  Declined Job  vetting          12
632a6492e9ff20cc4a442245836424e5  Accepted Job  writing           2
                                  Assigned Job  writing           3
                                  Declined Job  writing           1
642782c690c8d963c487300a4751e220  Accepted Job  editing           1
                                                review            5
                                                source review     2
                                                vetting           5
                                                writing           4
                                  Assigned Job  editing           2
                                                review            6
                                                source review     2
                                                vetting           5
                                                writing           6
                                  Declined Job  editing           1
                                                review            1
                                                writing           2
6b19235b9269df81b6da879771bf40bc  Accepted Job  sourcing          2
                                  Assigned Job  sourcing          4
                                  Declined Job  sourcing          2
6c6bd5e891c4015e534773dfb19f29b0  Accepted Job  planning          2
                                                review            1
                                                source review     2
                                                sourcing          3
                                                vetting           2
                                  Assigned Job  planning          2
                                                review            1
                                                source review     1
                                                sourcing          3
                                                vetting           2
710dbda77cade1eced9c735c08e6e38d  Accepted Job  editing           2
                                                sourcing          1
                                                vetting           4
                                  Assigned Job  editing           2
                                                sourcing          1
                                                vetting           4
732e4a29b2e318bce3c1e923276ddf51  Accepted Job  planning          9
                                                review            6
                                                source review     1
                                  Assigned Job  planning         13
                                                review            9
                                                source review     2
                                  Declined Job  review            2
766d3435eda76c4de9f034b8f97a0602  Accepted Job  writing           1
                                  Assigned Job  writing           2
77b8ab28b9e95edb3a69ca7a6d352ec8  Accepted Job  sourcing          2
                                  Assigned Job  sourcing          2
795930bc4ed320777ad76b46da2ed66d  Accepted Job  review            6
                                  Assigned Job  review            4
                                                source review     2
                                  Declined Job  source review     2
7e22ad15724c44543d1d4bcafd10c812  Accepted Job  review            9
                                                source review     2
                                                writing           1
                                  Assigned Job  review           11
                                                source review     2
                                                writing           1
                                  Declined Job  review            2
8258591d197a3936de0f7ee021ab9e0e  Accepted Job  sourcing          4
                                  Assigned Job  sourcing          9
                                  Declined Job  sourcing          4
83f00c2268afaf459715f4c52e16dd23  Accepted Job  sourcing          1
                                  Assigned Job  sourcing          1
85c7b78e76b5232cd38014ea4cdc8f56  Accepted Job  sourcing          8
                                  Assigned Job  sourcing         14
                                                writing           2
                                  Declined Job  sourcing          8
                                                writing           2
9286ce84f2401fbd6635f7d768c3cad1  Accepted Job  sourcing          2
                                  Assigned Job  sourcing          2
94959cf2d0b592d0fa1e5e9cf760a1c7  Accepted Job  planning         11
                                  Assigned Job  planning         13
                                  Declined Job  planning          2
95130c93e28b36bcb5ecd7e747b4d5c2  Assigned Job  sourcing          1
                                  Declined Job  sourcing          1
98de7e62209a07eee6ec8dc984911042  Accepted Job  sourcing          4
                                  Assigned Job  sourcing          5
                                  Declined Job  sourcing          1
9fa24ddce8fd9d1526d9d7451304fc74  Accepted Job  editing           2
                                                sourcing          4
                                                writing           1
                                  Assigned Job  editing           2
                                                sourcing          5
                                                writing           1
                                  Declined Job  sourcing          2
9fcbc63ff4c8bea5cea4efad782c87cf  Accepted Job  review           11
                                                source review     6
                                                sourcing          1
                                  Assigned Job  review           13
                                                source review     6
                                                sourcing          1
                                  Declined Job  review            2
a09c8906073b4c0b75e3100b857b982a  Accepted Job  planning          2
                                                review           16
                                                source review    10
                                  Assigned Job  planning         10
                                                review           16
                                                source review    10
                                  Declined Job  planning          8
a29fe6d26c1a49ff4a3c876eaee0a1af  Accepted Job  sourcing          3
                                  Assigned Job  sourcing          1
b599bfb42906772db81ac90137fc1916  Accepted Job  sourcing          2
                                  Assigned Job  sourcing          2
b692db6843c42f5ce686fcdfda4e0b62  Accepted Job  sourcing          1
                                  Assigned Job  sourcing          1
b89eb67419465a9e2c9da08dae6023e2  Accepted Job  sourcing          2
                                  Assigned Job  sourcing          2
bcd8d747b5af397febc04228293f747f  Accepted Job  writing           1
                                  Assigned Job  writing           1
c033808b89b50e6f550caf266470f090  Accepted Job  editing           1
                                                sourcing          1
                                                writing           2
                                  Assigned Job  editing           1
                                                sourcing          1
                                                writing           2
c2d7982e24aadeea8921108d0eb756d8  Assigned Job  sourcing          4
                                  Declined Job  sourcing          4
c2dcc0b178176d7e6b185df9bd1cb4f2  Accepted Job  editing           1
                                                sourcing          1
                                                vetting           4
                                                writing           1
                                  Assigned Job  editing           2
                                                sourcing          1
                                                vetting           3
                                                writing           2
                                  Declined Job  editing           1
c9401f82fdedf3cd080a03bafe3447c7  Accepted Job  writing           1
                                  Assigned Job  writing           9
                                  Declined Job  writing           7
caf77e4ba6154e998b352cc92c685f80  Accepted Job  planning          2
                                                sourcing          1
                                                writing           2
                                  Assigned Job  planning          2
                                                sourcing          1
                                                writing           5
                                  Declined Job  writing           2
d5aa695af013ee5baaeeccfb7ca50c80  Accepted Job  editing           5
                                                sourcing          2
                                  Assigned Job  editing           2
                                                sourcing          1
d6eaa4eeb52b4d62ec78299454763870  Accepted Job  sourcing          4
                                                writing           2
                                  Assigned Job  sourcing          4
                                                writing           4
                                  Declined Job  writing           1
d74c4a7423dd3ee0a78de5481c364823  Accepted Job  sourcing          2
                                  Assigned Job  sourcing          2
d8e25a290ea51352bf9100a99c475f6d  Accepted Job  planning          1
                                                review            1
                                                vetting           6
                                  Assigned Job  planning          1
                                                review            2
                                                vetting           7
                                  Declined Job  review            1
d9837e646a15a4fdd823531178b2d62e  Accepted Job  writing           1
                                  Assigned Job  writing           4
                                  Declined Job  writing           3
dddcdea13df8232803957a5d9c847aae  Accepted Job  writing           2
                                  Assigned Job  sourcing          2
                                                writing           5
                                  Declined Job  sourcing          2
                                                writing           2
de71db592b02c988670ca3d301a02568  Accepted Job  editing           1
                                                writing           1
                                  Assigned Job  editing           1
                                                writing           1
dee1febfdeb9c90a41759cb330c72fd4  Accepted Job  vetting           3
                                  Assigned Job  vetting           3
e2333b2dc03032f12c8526e45243f0c1  Accepted Job  sourcing          1
                                  Assigned Job  sourcing          1
e817dd4305458b293cbeb3015da99565  Accepted Job  writing           1
                                  Assigned Job  writing           1
e8a2b0b2e2234a89dc52dd8a3e0f79e6  Accepted Job  editing           1
                                                writing           1
                                  Assigned Job  editing           1
                                                writing           1
e9468b4c33f88d6937c4ad2bea8bbc2f  Accepted Job  review            1
                                  Assigned Job  review            1
ea452a7456e38887ca8b98f4e131d224  Accepted Job  writing           1
                                  Assigned Job  writing           1
ea5354c723ba83f2c412c238b133e84a  Accepted Job  writing           1
                                  Assigned Job  writing           1
ef7e6e9fd91d89f2e31b26b9feaec787  Accepted Job  sourcing          1
                                  Assigned Job  sourcing          1
f3b93c5ae97215ae15fa63b5f0fc30e1  Accepted Job  sourcing          1
                                  Assigned Job  sourcing          1
f7f7591403c6c431053920223069550a  Accepted Job  planning          5
                                  Assigned Job  planning          7
                                  Declined Job  planning          2
Name: Action, dtype: int64

In [38]:
# number of jobs accepted/assigned or declined based on job

df.groupby(['Action', 'Job'])['Action'].count()

Action        Job
Accepted Job  editing           15
              planning          33
              review            65
              source review     27
              sourcing          72
              vetting           35
              writing           54
Assigned Job  editing           14
              planning          49
              review            70
              source review     29
              sourcing         101
              vetting           47
              writing           83
Declined Job  editing            2
              planning          12
              review             8
              source review      2
              sourcing          36
              vetting           12
              writing           23
Name: Action, dtype: int64

In [39]:
df.groupby(['Request', 'Analyst'])['Wait time (min)'].sum()

Request                   Analyst
59480d57e759070028da6467  a09c8906073b4c0b75e3100b857b982a      2
                          d8e25a290ea51352bf9100a99c475f6d      7
59485c262e71030033104e3c  642782c690c8d963c487300a4751e220      2
                          7e22ad15724c44543d1d4bcafd10c812      2
                          a09c8906073b4c0b75e3100b857b982a      2
                          b599bfb42906772db81ac90137fc1916      2
                          e817dd4305458b293cbeb3015da99565      2
59486e7af5874900429ce273  9fcbc63ff4c8bea5cea4efad782c87cf      2
5949462dd9ae5200633f9640  39012c98c8fb80752d2bbcc3dc285230      2
                          9fa24ddce8fd9d1526d9d7451304fc74     10
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
59494c13d9ae5200633f9695  a09c8906073b4c0b75e3100b857b982a      2
5949a81c4d1319005556396c  39012c98c8fb80752d2bbcc3dc285230      4
                          632a6492e9ff20cc4a442245836424e5      2
                          642782c690c8d963c487300a4751e220      4
                          710dbda77cade1eced9c735c08e6e38d      2
                          732e4a29b2e318bce3c1e923276ddf51      2
                          795930bc4ed320777ad76b46da2ed66d      2
                          7e22ad15724c44543d1d4bcafd10c812      2
                          8258591d197a3936de0f7ee021ab9e0e      2
                          9fa24ddce8fd9d1526d9d7451304fc74    107
                          a09c8906073b4c0b75e3100b857b982a      2
                          b692db6843c42f5ce686fcdfda4e0b62      2
                          c9401f82fdedf3cd080a03bafe3447c7      2
                          d74c4a7423dd3ee0a78de5481c364823      2
                          de71db592b02c988670ca3d301a02568      2
5949bdb4fe2f5d005b4f4910  39012c98c8fb80752d2bbcc3dc285230      2
5949bdbcfe2f5d005b4f4928  c033808b89b50e6f550caf266470f090      2
5949e376f03c130028baa724  482e9b14d8d59b748320f89074362746      2
                          dddcdea13df8232803957a5d9c847aae      6
594a4325499a400071d4cca4  9fcbc63ff4c8bea5cea4efad782c87cf      2
594a536d220b450040dc0182  9fcbc63ff4c8bea5cea4efad782c87cf      2
594a5e5566cb69006fdcf09d  008fa95f5c94985e2d44047aeac31655      9
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
                          a09c8906073b4c0b75e3100b857b982a      2
                          c2dcc0b178176d7e6b185df9bd1cb4f2      2
594a8f5664251c002831f4c5  2d0f64a208f69a70ec415cfccb59cc24      8
                          a09c8906073b4c0b75e3100b857b982a      4
                          d5aa695af013ee5baaeeccfb7ca50c80      4
594a8fd422b3c50028e71976  0c2680433387fb4cf51a3546296f8422      2
                          2d0f64a208f69a70ec415cfccb59cc24      2
                          482e9b14d8d59b748320f89074362746      2
                          642782c690c8d963c487300a4751e220      4
                          732e4a29b2e318bce3c1e923276ddf51      2
                          766d3435eda76c4de9f034b8f97a0602      2
                          795930bc4ed320777ad76b46da2ed66d      3
                          7e22ad15724c44543d1d4bcafd10c812      2
                          c9401f82fdedf3cd080a03bafe3447c7      3
                          caf77e4ba6154e998b352cc92c685f80      1
594a9ce6c864e200288e766b  1f8d8b08a994331e419d24293ce9e7b0     27
                          2df8ce7d317c7d89dfa95be7695d2de0      2
                          5233d783ae5bf0483cf49549cbc594f8      2
                          57ef46a92ecee8e187f4d450e92651ea      2
                          642782c690c8d963c487300a4751e220      2
                          77b8ab28b9e95edb3a69ca7a6d352ec8      2
                          795930bc4ed320777ad76b46da2ed66d     47
                          7e22ad15724c44543d1d4bcafd10c812      2
                          98de7e62209a07eee6ec8dc984911042      2
                          a09c8906073b4c0b75e3100b857b982a      2
                          a29fe6d26c1a49ff4a3c876eaee0a1af      4
                          caf77e4ba6154e998b352cc92c685f80      2
594aa36664251c002831f51e  9fcbc63ff4c8bea5cea4efad782c87cf      2
594ab554c864e200288e76ef  0c2680433387fb4cf51a3546296f8422      2
                          0e9802516f8a79dd0d45211dd4ee74af      2
                          482e9b14d8d59b748320f89074362746      2
                          795930bc4ed320777ad76b46da2ed66d     54
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
                          a09c8906073b4c0b75e3100b857b982a      2
                          c033808b89b50e6f550caf266470f090      2
                          c9401f82fdedf3cd080a03bafe3447c7    197
                          caf77e4ba6154e998b352cc92c685f80      2
                          d6eaa4eeb52b4d62ec78299454763870      2
                          d9837e646a15a4fdd823531178b2d62e      7
                          dddcdea13df8232803957a5d9c847aae      4
                          e8a2b0b2e2234a89dc52dd8a3e0f79e6      2
                          ea5354c723ba83f2c412c238b133e84a      2
594ada897a05b40035f08be4  32553d485988e2ddcf0f701c60754f2d      2
                          a09c8906073b4c0b75e3100b857b982a      2
594ae6944f06e20035d92325  0e9802516f8a79dd0d45211dd4ee74af      4
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
                          a09c8906073b4c0b75e3100b857b982a      2
594ae6994f06e20035d92335  732e4a29b2e318bce3c1e923276ddf51      7
                          9fcbc63ff4c8bea5cea4efad782c87cf      7
                          a09c8906073b4c0b75e3100b857b982a      2
594ae6fa4f06e20035d9233d  a09c8906073b4c0b75e3100b857b982a      2
594ae6fb4f06e20035d92345  206de922289a1f9f5ee250fc71308628      3
                          5078cc506436a8668c0b6de594842fcf      1
                          632a6492e9ff20cc4a442245836424e5      5
                          7e22ad15724c44543d1d4bcafd10c812      2
                          9fcbc63ff4c8bea5cea4efad782c87cf      4
                          c2dcc0b178176d7e6b185df9bd1cb4f2      1
                          caf77e4ba6154e998b352cc92c685f80      2
                          d6eaa4eeb52b4d62ec78299454763870      5
594aead5ef88150028311172  0c2680433387fb4cf51a3546296f8422     32
                          0e9802516f8a79dd0d45211dd4ee74af      2
                          206de922289a1f9f5ee250fc71308628      2
                          39b71201151caf98fd10afce50cfc83e     50
                          4bb6e496f0c92286dee7eed7038ddd9d      2
                          98de7e62209a07eee6ec8dc984911042      4
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
                          a09c8906073b4c0b75e3100b857b982a      2
                          bcd8d747b5af397febc04228293f747f      3
                          d9837e646a15a4fdd823531178b2d62e      2
594aec513f82d10028f03b9a  a09c8906073b4c0b75e3100b857b982a      2
594af29d3f82d10028f03bb2  0e9802516f8a79dd0d45211dd4ee74af      4
                          32553d485988e2ddcf0f701c60754f2d      2
                          39b71201151caf98fd10afce50cfc83e      2
                          642782c690c8d963c487300a4751e220      6
                          766d3435eda76c4de9f034b8f97a0602      1
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
                          ef7e6e9fd91d89f2e31b26b9feaec787     10
                          f3b93c5ae97215ae15fa63b5f0fc30e1      2
594af3c6f3b9f600287eabe0  482e9b14d8d59b748320f89074362746      2
                          7e22ad15724c44543d1d4bcafd10c812      2
                          a09c8906073b4c0b75e3100b857b982a      2
594b00e23f82d10028f03be2  6c6bd5e891c4015e534773dfb19f29b0      2
                          7e22ad15724c44543d1d4bcafd10c812      2
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
                          d8e25a290ea51352bf9100a99c475f6d      2
594b0303f3b9f600287eac2b  0e9802516f8a79dd0d45211dd4ee74af      2
                          4bb6e496f0c92286dee7eed7038ddd9d      2
                          642782c690c8d963c487300a4751e220      2
                          7e22ad15724c44543d1d4bcafd10c812      4
                          85c7b78e76b5232cd38014ea4cdc8f56      4
                          9fa24ddce8fd9d1526d9d7451304fc74      2
                          caf77e4ba6154e998b352cc92c685f80      2
                          d6eaa4eeb52b4d62ec78299454763870      2
                          d8e25a290ea51352bf9100a99c475f6d      2
594b06bf6cdeef002881af7b  0e9802516f8a79dd0d45211dd4ee74af      2
                          8258591d197a3936de0f7ee021ab9e0e      8
594b06c06cdeef002881af83  206de922289a1f9f5ee250fc71308628      2
                          5238b0785b5576f5ffe665136df9244f     23
                          8258591d197a3936de0f7ee021ab9e0e      3
                          98de7e62209a07eee6ec8dc984911042      5
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
                          a09c8906073b4c0b75e3100b857b982a      2
                          c2dcc0b178176d7e6b185df9bd1cb4f2     13
                          d5aa695af013ee5baaeeccfb7ca50c80      3
594b1abfa6992500289d6040  0c2680433387fb4cf51a3546296f8422      2
                          39b71201151caf98fd10afce50cfc83e      2
                          3a29165b73c047e745934c2cbbfaac1b      2
                          642782c690c8d963c487300a4751e220     14
                          6c6bd5e891c4015e534773dfb19f29b0      3
                          85c7b78e76b5232cd38014ea4cdc8f56    289
                          c2dcc0b178176d7e6b185df9bd1cb4f2      3
594b20ea3f82d10028f03c54  642782c690c8d963c487300a4751e220      2
                          732e4a29b2e318bce3c1e923276ddf51      3
                          8258591d197a3936de0f7ee021ab9e0e      2
                          85c7b78e76b5232cd38014ea4cdc8f56      7
                          a09c8906073b4c0b75e3100b857b982a      2
                          c2dcc0b178176d7e6b185df9bd1cb4f2      2
                          d8e25a290ea51352bf9100a99c475f6d      2
                          f7f7591403c6c431053920223069550a     27
594b20eb3f82d10028f03c5c  0e9802516f8a79dd0d45211dd4ee74af      4
                          36ee9fc3bade4a4f71c2a6e5c2bd8862      4
                          39b71201151caf98fd10afce50cfc83e      2
                          642782c690c8d963c487300a4751e220      2
                          732e4a29b2e318bce3c1e923276ddf51      3
                          85c7b78e76b5232cd38014ea4cdc8f56     85
                          a09c8906073b4c0b75e3100b857b982a      7
                          caf77e4ba6154e998b352cc92c685f80      5
                          f7f7591403c6c431053920223069550a      2
594b20ec3f82d10028f03c64  0c2680433387fb4cf51a3546296f8422      2
                          732e4a29b2e318bce3c1e923276ddf51      2
                          a09c8906073b4c0b75e3100b857b982a      2
                          e8a2b0b2e2234a89dc52dd8a3e0f79e6      2
594b20ed3f82d10028f03c6c  7e22ad15724c44543d1d4bcafd10c812      2
                          9fcbc63ff4c8bea5cea4efad782c87cf      4
                          a09c8906073b4c0b75e3100b857b982a      7
                          f7f7591403c6c431053920223069550a      2
594b20ee3f82d10028f03c74  7e22ad15724c44543d1d4bcafd10c812      2
                          85c7b78e76b5232cd38014ea4cdc8f56      2
                          a09c8906073b4c0b75e3100b857b982a      5
                          d6eaa4eeb52b4d62ec78299454763870      2
                          f7f7591403c6c431053920223069550a      2
594b20ef3f82d10028f03c7c  2df8ce7d317c7d89dfa95be7695d2de0     10
                          642782c690c8d963c487300a4751e220    131
                          710dbda77cade1eced9c735c08e6e38d      2
                          77b8ab28b9e95edb3a69ca7a6d352ec8      2
                          85c7b78e76b5232cd38014ea4cdc8f56      8
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
                          b599bfb42906772db81ac90137fc1916      2
                          d6eaa4eeb52b4d62ec78299454763870      2
                          e9468b4c33f88d6937c4ad2bea8bbc2f      2
                          f7f7591403c6c431053920223069550a      2
594b31f09d87570035cccafd  052066814364850e1a17a90d576dd904      3
                          39b71201151caf98fd10afce50cfc83e      2
                          4bb6e496f0c92286dee7eed7038ddd9d      2
                          795930bc4ed320777ad76b46da2ed66d     51
                          7e22ad15724c44543d1d4bcafd10c812    219
                          8258591d197a3936de0f7ee021ab9e0e     52
                          c2dcc0b178176d7e6b185df9bd1cb4f2      2
                          caf77e4ba6154e998b352cc92c685f80      2
                          dee1febfdeb9c90a41759cb330c72fd4      2
                          ea452a7456e38887ca8b98f4e131d224      2
594b33d6fee3760035a1a540  7e22ad15724c44543d1d4bcafd10c812      2
                          c2dcc0b178176d7e6b185df9bd1cb4f2      2
594b52f717d10a00289676dd  6c6bd5e891c4015e534773dfb19f29b0      8
594b6c6a96165a002896b124  6c6bd5e891c4015e534773dfb19f29b0      6
594b945bf8b866004036d9c3  0e9802516f8a79dd0d45211dd4ee74af      8
                          2df8ce7d317c7d89dfa95be7695d2de0     55
                          39b71201151caf98fd10afce50cfc83e     60
                          642782c690c8d963c487300a4751e220     47
                          6b19235b9269df81b6da879771bf40bc     24
                          732e4a29b2e318bce3c1e923276ddf51      2
                          de71db592b02c988670ca3d301a02568      2
594b9dd57c3b31004d97a6dc  4bb6e496f0c92286dee7eed7038ddd9d      2
                          732e4a29b2e318bce3c1e923276ddf51      2
                          d6eaa4eeb52b4d62ec78299454763870      2
594babd780f13f00405cd449  642782c690c8d963c487300a4751e220      2
594baca737b4b7004b683616  642782c690c8d963c487300a4751e220      2
                          732e4a29b2e318bce3c1e923276ddf51      2
594bcdd580f13f00405cd4e0  dee1febfdeb9c90a41759cb330c72fd4      2
594bcdd680f13f00405cd4e8  2df8ce7d317c7d89dfa95be7695d2de0      8
                          3a8a0b0323b02a707535fe7d65821de3      2
                          710dbda77cade1eced9c735c08e6e38d      2
                          83f00c2268afaf459715f4c52e16dd23     14
                          9fa24ddce8fd9d1526d9d7451304fc74     40
                          d8e25a290ea51352bf9100a99c475f6d      2
                          dee1febfdeb9c90a41759cb330c72fd4      2
594bcdd780f13f00405cd4f0  710dbda77cade1eced9c735c08e6e38d      2
                          a09c8906073b4c0b75e3100b857b982a      2
                          d74c4a7423dd3ee0a78de5481c364823     52
594bde9ffd2cf400280aa920  732e4a29b2e318bce3c1e923276ddf51      2
594bebaa632eb100405ab4c3  0c2680433387fb4cf51a3546296f8422     93
                          642782c690c8d963c487300a4751e220      4
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
                          b89eb67419465a9e2c9da08dae6023e2     70
                          dddcdea13df8232803957a5d9c847aae      9
594bec5a95e2ce005840c22a  0e9802516f8a79dd0d45211dd4ee74af      2
                          732e4a29b2e318bce3c1e923276ddf51      5
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
                          9fa24ddce8fd9d1526d9d7451304fc74    107
594bec5b95e2ce005840c232  30ea4ac9222bfa53b3849df49d6f26f0      4
                          3a29165b73c047e745934c2cbbfaac1b     16
                          732e4a29b2e318bce3c1e923276ddf51      3
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
                          a09c8906073b4c0b75e3100b857b982a      4
594bec5c95e2ce005840c23a  732e4a29b2e318bce3c1e923276ddf51      1
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
                          9fcbc63ff4c8bea5cea4efad782c87cf      2
594bec5c95e2ce005840c242  732e4a29b2e318bce3c1e923276ddf51      2
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
                          9fa24ddce8fd9d1526d9d7451304fc74     30
                          a09c8906073b4c0b75e3100b857b982a      2
                          d6eaa4eeb52b4d62ec78299454763870     32
594bec5d95e2ce005840c24a  732e4a29b2e318bce3c1e923276ddf51      2
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
594bec5e95e2ce005840c252  732e4a29b2e318bce3c1e923276ddf51      2
                          9286ce84f2401fbd6635f7d768c3cad1     22
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
                          a09c8906073b4c0b75e3100b857b982a      2
                          c033808b89b50e6f550caf266470f090      8
594bec5e95e2ce005840c25a  710dbda77cade1eced9c735c08e6e38d      2
                          732e4a29b2e318bce3c1e923276ddf51      3
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
594bec7ffd2cf400280aa953  94959cf2d0b592d0fa1e5e9cf760a1c7      2
                          9fa24ddce8fd9d1526d9d7451304fc74     78
                          d5aa695af013ee5baaeeccfb7ca50c80      3
594bec81fd2cf400280aa95c  608b40f66ef114c6d9f5c95021290f69    111
                          85c7b78e76b5232cd38014ea4cdc8f56     15
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
                          c2d7982e24aadeea8921108d0eb756d8     13
594bec83fd2cf400280aa965  0c2680433387fb4cf51a3546296f8422     56
                          0e9802516f8a79dd0d45211dd4ee74af      2
                          85c7b78e76b5232cd38014ea4cdc8f56     33
                          94959cf2d0b592d0fa1e5e9cf760a1c7      2
                          98de7e62209a07eee6ec8dc984911042      5
                          a09c8906073b4c0b75e3100b857b982a      2
                          c2d7982e24aadeea8921108d0eb756d8    129
                          dddcdea13df8232803957a5d9c847aae     28
594bfcde70709600281a12b8  62060850630c7afe54fd59151413d237      7
                          642782c690c8d963c487300a4751e220      2
594c0645b99a200028ff12fe  62060850630c7afe54fd59151413d237     11
594c0b883b593b002812506e  00360b3f177375b01b795a4be7b4686c    425
                          62060850630c7afe54fd59151413d237      4
                          6b19235b9269df81b6da879771bf40bc      9
                          8258591d197a3936de0f7ee021ab9e0e     71
                          94959cf2d0b592d0fa1e5e9cf760a1c7     24
                          a09c8906073b4c0b75e3100b857b982a     71
                          e2333b2dc03032f12c8526e45243f0c1     43
594c151273dd9c002873cd98  62060850630c7afe54fd59151413d237     19
                          6b19235b9269df81b6da879771bf40bc     12
                          c033808b89b50e6f550caf266470f090      2
594c15a573dd9c002873cda1  00360b3f177375b01b795a4be7b4686c     23
                          62060850630c7afe54fd59151413d237      9
                          9286ce84f2401fbd6635f7d768c3cad1      4
                          a09c8906073b4c0b75e3100b857b982a      2
                          b89eb67419465a9e2c9da08dae6023e2      2
594c1abc73dd9c002873cdb8  95130c93e28b36bcb5ecd7e747b4d5c2     32
594c1e983b593b00281250ba  62060850630c7afe54fd59151413d237      2
                          85c7b78e76b5232cd38014ea4cdc8f56      8
594c1f5cd7e68f0028c9062c  0e9802516f8a79dd0d45211dd4ee74af      2
                          62060850630c7afe54fd59151413d237      2
594c20b773dd9c002873cdda  62060850630c7afe54fd59151413d237      2
594c28953b593b00281250e1  62060850630c7afe54fd59151413d237      7
594c2e992c137900353e0faa  d8e25a290ea51352bf9100a99c475f6d      2
594c3f0c73dd9c002873ce44  d8e25a290ea51352bf9100a99c475f6d      2
594c41482c137900353e0fea  d8e25a290ea51352bf9100a99c475f6d      3
594c41ab1e24bf00350a1f11  710dbda77cade1eced9c735c08e6e38d      4
Name: Wait time (min), dtype: int64

In [40]:
# dummy Action category

action_dummies = pd.get_dummies(df['Action'])
action_dummies.head()

df = pd.concat([df, action_dummies],axis=1)
#df.drop('Action',axis=1, inplace=True)

In [41]:
# sort values in table by time the request created
df.sort_values('Request created at', inplace = True)

In [42]:
# create a primary key per record
df['record'] = range(1, len(df) + 1)

In [43]:
df.head()

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available,Accepted Job,Assigned Job,Declined Job,record
697,2017-06-21 21:50:31,a09c8906073b4c0b75e3100b857b982a,5.0,5.0,Accepted Job,59480d57e759070028da6467,2017-06-19 13:43:51,review,1,"review, planning, editing, sourcing, writing",1,21,13,6,1,6,0,0,0,1,0,0,1
718,2017-06-21 21:26:17,d8e25a290ea51352bf9100a99c475f6d,5.0,5.0,Assigned Job,59480d57e759070028da6467,2017-06-19 13:43:51,review,1,review,4,21,8,5,1,0,0,1,1,0,1,0,2
713,2017-06-21 21:27:19,d8e25a290ea51352bf9100a99c475f6d,5.0,5.0,Accepted Job,59480d57e759070028da6467,2017-06-19 13:43:51,review,2,review,1,22,6,5,1,0,0,0,0,1,0,0,3
714,2017-06-21 21:26:52,d8e25a290ea51352bf9100a99c475f6d,5.0,5.0,Assigned Job,59480d57e759070028da6467,2017-06-19 13:43:51,review,2,review,2,22,7,6,1,0,0,0,0,0,1,0,4
715,2017-06-21 21:26:52,d8e25a290ea51352bf9100a99c475f6d,5.0,5.0,Declined Job,59480d57e759070028da6467,2017-06-19 13:43:51,review,2,review,2,22,7,6,1,0,0,0,0,0,0,1,5

In [44]:
# save cleaned csv to a file
df.to_csv (r'clean_assignment_log.csv', index = False, header=True)